h1 {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 36px;
  margin: 24px 0;
  text-transform: uppercase;
  letter-spacing: 1px; }

body {
  color: #383834; }

footer p {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 36px;
  margin: 12px 0;
  text-transform: uppercase; }

body {
  background-color: #fafaf5; }

.container {
  margin: 36px auto;
  text-align: center;
  width: 700px; }

.rack {
  clear: both;
  width: 700px;
  list-style: none; }

.trigger {
  width: 96px;
  height: 96px;
  text-align: center;
  font-size: 18px;
  margin: 12px;
  float: left;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: #fff solid 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transform: border 100ms ease-out;
  -webkit-transition: border 100ms ease-out;
  -moz-transition: border 100ms ease-out;
  -o-transition: border 100ms ease-out;
  transform: background-color 200ms ease-out;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out; }
  .trigger:hover {
    border: #fff solid 2px;
    transform: border 200ms ease-out;
    -webkit-transition: border 200ms ease-out;
    -moz-transition: border 200ms ease-out;
    -o-transition: border 200ms ease-out;
    transform: background-color 200ms ease-out;
    -webkit-transition: background-color 200ms ease-out;
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out; }

.keyboard .trigger {
  background-color: #f26c4f;
  -webkit-border-radius: 100px 100px 150px 150px;
  border-radius: 100px 100px 150px 150px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .keyboard .trigger:hover {
    background-color: #ee4420; }

.perc .trigger {
  background-color: #f2c74f;
  -webkit-border-radius: 800px 60px 900px 60px;
  border-radius: 800px 60px 900px 60px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .perc .trigger:hover {
    background-color: #eeb820; }

.stab .trigger {
  background-color: #25445c;
  -webkit-border-radius: 60px 60px 400px 60px;
  border-radius: 60px 60px 400px 60px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .stab .trigger:hover {
    background-color: #162938; }

a {
  text-decoration: none;
  color: #f26c4f; }
  a:hover {
    color: #ee4420; }

footer {
  padding-top: 12px;
  clear: both; }
