@import 'config';
@import 'mixins';
@import 'typography';

body{
	background-color:$background-color;
}

.container{
	margin: $baseline *3 auto;
	text-align:center;
	width:700px
}

.rack{
	clear:both;
	width: 700px;
	list-style:none;
}

.trigger{
	width:$baseline *8;
	height:$baseline *8;
	text-align: center;
	font-size: 18px;
	margin: $baseline;
	float:left;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: #fff solid 0px;
	@include box-sizing(border-box);
	@include transform (border, 100ms, ease-out);
	@include transform (background-color, 200ms, ease-out);

	&:hover{
		border: #fff solid 2px;
		@include transform (border, 200ms, ease-out);
		@include transform (background-color, 200ms, ease-out);
	}
}

.keyboard{
	.trigger{
		background-color: $primary-color;
		@include border-radius(100px 100px 150px 150px);
		
		&:hover{
			background-color: darken( $primary-color, 10%);
		}
	}
}

.perc{
	.trigger{
		background-color: $secondary-color;
		@include border-radius(800px 60px 900px 60px);
		
		&:hover{
			background-color: darken( $secondary-color, 10%);
		}
	}
}

.stab{
	.trigger{
		background-color: $tertiary-color;
		@include border-radius(60px 60px 400px 60px);
		
		&:hover{
			background-color: darken( $tertiary-color, 10%);
		}
	}
}

.controls{
	padding:0;
	list-style:none;
	text-align: center;
	margin:0 0 30px 60px;
	height: 10px;
	li{
		float:left;
		margin-right:15px;
		padding-top: 5px;
		&:first-child{
			padding-top: 0;
		}
	}
}

.switch{
	background-color: darken($background-color, 20%);
	border: 0;
	@include border-radius(5px);
	color: $background-color;
	font-family: $font-stack-A;
	font-size:12px;
	text-transform:uppercase;
	outline:0;
	width: 50px;
	height: 30px;
	&:hover{
		background-color: darken($background-color, 30%);
	}
	&:active{
		background-color:darken($background-color, 50%);
	}
}

input[type=range]{
	 -webkit-appearance: none;
	background-color: darken($background-color, 20%);
	@include border-radius(5px);
	height:8px;
	width:80px;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: darken($background-color, 30%);
    width: 8px;
    height: 18px;
    @include border-radius(5px);
    &:active{
    	background-color: darken($background-color, 50%);
    }
}

.selected{
	background-color:darken($background-color, 50%);
	&:hover{
		background-color:darken($background-color, 50%);
	}
}

a{
	text-decoration:none;
	color:$primary-color;
	&:hover{
		color: darken( $primary-color, 10%);
	}
}

footer{
	padding-top:$baseline;
	clear:both;
}