@import 'config';
@import 'mixins';
@import 'typography';

.container{
	margin: $baseline *3 auto;
	text-align:center;
	width:700px
}

.rack{
	clear:both;
	width: 700px;
	list-style:none;
}

.trigger{
	width:$baseline *8;
	height:$baseline *8;
	text-align: center;
	font-size: 18px;
	margin: $baseline;
	float:left;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: #fff solid 0px;
	@include box-sizing(border-box);
	@include transform (border, 100ms, ease-out);
	@include transform (background-color, 200ms, ease-out);

	&:hover{
		border: #fff solid 2px;
		@include transform (border, 200ms, ease-out);
		@include transform (background-color, 200ms, ease-out);
	}
}

.keyboard{
	.trigger{
		background-color: $primary-color;
		@include border-radius(100px 100px 150px 150px);
		
		&:hover{
			background-color: darken( $primary-color, 10%);
		}
	}
}

.perc{
	.trigger{
		background-color: $secondary-color;
		@include border-radius(800px 60px 900px 60px);
		
		&:hover{
			background-color: darken( $secondary-color, 10%);
		}
	}
}

.stab{
	.trigger{
		background-color: $tertiary-color;
		@include border-radius(60px 60px 400px 60px);
		
		&:hover{
			background-color: darken( $tertiary-color, 10%);
		}
	}
}

a{
	text-decoration:none;
	color:$primary-color;
	&:hover{
		color: darken( $primary-color, 10%);
	}
}

footer{
	padding-top:$baseline;
	clear:both;
}